body {
    background-color: blanchedalmond;
}

#container {
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

#container > * {
    color:white;
}